@import 'var';

.footer {
  background-color: $footer-bg;
  padding: 10px 0;
  height: 60px;
  display: flex;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  &__author {
    &-link {
      text-decoration: none;
      color: $title;
    }
  }
}
